<html>
<h1>Congratulations you have done Ansible!</h1>
<p>You are on host {{ thehostname }}</p>
<p>Enjoy your stay!</p>
<img src= "https://dichterpark.me/wp-content/uploads/elegant-worm-coloring-pages-color-2-worms-parties-google-search-cartoon-new-of-image.jpg">
</html>
